repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.14.10"
  hooks:
    - id: ruff-check
    - id: ruff-format

- repo: "https://github.com/pre-commit/pre-commit-hooks"
  rev: "v6.0.0"
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args:
      - --fix=lf
  - id: fix-byte-order-marker
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files

- repo: https://github.com/codespell-project/codespell
  rev: "v2.4.1"
  hooks:
  - id: codespell
    additional_dependencies:
      - tomli

ci:
  autofix_prs: false
