name: Regression Tests

on:
  push:
    branches:
    - master
    - ral_dev
  pull_request:
    branches:
    - master
    - ral_dev
  workflow_dispatch:

jobs:

  tests:
    name: Python ${{matrix.python-version}} | cocotb ${{matrix.cocotb-version}}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        include:
          # Test all Python versions with latest cocotb
          - python-version: "3.7"
            cocotb-version: "2.0"
            vhdl-sim: "nvc"
          - python-version: "3.8"
            cocotb-version: "2.0"
            vhdl-sim: "nvc"
          - python-version: "3.9"
            cocotb-version: "2.0"
            vhdl-sim: "nvc"
          - python-version: "3.10"
            cocotb-version: "2.0"
            vhdl-sim: "nvc"
          - python-version: "3.11"
            cocotb-version: "2.0"
            vhdl-sim: "nvc"
          - python-version: "3.12"
            cocotb-version: "2.0"
            vhdl-sim: "nvc"
          - python-version: "3.13"
            cocotb-version: "2.0"
            vhdl-sim: "nvc"
          # Test other cocotb versions
          # Must use GHDL as VHDL simulator as NVC is only supported in cocotb 1.9+
          - python-version: "3.8"
            cocotb-version: "1.6"
            vhdl-sim: "ghdl"
          - python-version: "3.8"
            cocotb-version: "1.7"
            vhdl-sim: "ghdl"
          - python-version: "3.8"
            cocotb-version: "1.8"
            vhdl-sim: "ghdl"
          - python-version: "3.8"
            cocotb-version: "1.9"
            vhdl-sim: "nvc"

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{matrix.python-version}} (setup-python)
      if: matrix.python-version != 3.7
      uses: actions/setup-python@v6
      with:
        python-version: ${{matrix.python-version}}

    - name: Set up Python ${{matrix.python-version}} (pyenv pt.1)
      if: matrix.python-version == 3.7
      uses: gabrielfalcao/pyenv-action@a1fc55906be92612782934c70e3985b940bd0165  # v18
      with:
        default: ${{matrix.python-version}}
        command: pip install -U pip  # upgrade pip after installing python

    - name: Set up Python ${{matrix.python-version}} (pyenv pt.2)
      if: matrix.python-version == 3.7
      run: |
        pyenv install ${{matrix.python-version}}
        pyenv global ${{matrix.python-version}}

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install Icarus Verilog
      run: |
        sudo apt install -y --no-install-recommends iverilog

    - name: Install GHDL
      if: matrix.vhdl-sim == 'ghdl'
      uses: ghdl/setup-ghdl@v1
      with:
        version: v5.1.1
        backend: mcode

    - name: Install NVC
      if: matrix.vhdl-sim == 'nvc'
      uses: nickg/setup-nvc@v1
      with:
        version: r1.18.2

    - name: Test
      run: |
        COCOTB_VERSION=${{matrix.cocotb-version}} \
        VERILOG_SIM=icarus \
        VHDL_SIM=${{matrix.vhdl-sim}} \
        uvx --with tox-uv --with tox-gh-actions tox

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'master') }}
